[submodule "vendor/file"]
	path = vendor/file
	url = https://github.com/file/file
[submodule "vendor/mingw-libgnurx"]
	path = vendor/mingw-libgnurx
	url = https://github.com/TimothyGu/libgnurx
[submodule "vendor/winpthreads"]
	path = vendor/winpthreads
	url = git@github.com:/interruptinuse/mingw-w64-subdirs
	branch = subdir/mingw-w64-libraries/winpthreads
